In [1]:
# Importing important libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Loading Data set

anime_original = pd.read_csv('anime.csv')

In [3]:
anime_original.head()

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1,Unnamed: 35,Average score
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,131625,62330,20688,8904,3184,1357,741,1580,NaN,64170.5
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,49505,22632,5805,1877,577,221,109,379,NaN,16034.9
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,86142,49432,15376,5838,1965,664,316,533,NaN,28614.6
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,10128,11618,5709,2920,1083,353,164,131,NaN,3909.4
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,1242,1713,1068,634,265,83,50,27,NaN,592.3

In [4]:
anime_original.columns

Index(['MAL_ID', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors',
       'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity',
       'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped',
       'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6',
       'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1', 'Unnamed: 35',
       'Average score'],
      dtype='object')

In [5]:
# recomendation basesd on Genres,producers and studios

anime_1 = anime_original[["Name","Genres","Producers","Licensors","Studios"]]
anime_1.head()

,Name,Genres,Producers,Licensors,Studios
0,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Bandai Visual,"Funimation, Bandai Entertainment",Sunrise
1,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space","Sunrise, Bandai Visual",Sony Pictures Entertainment,Bones
2,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Victor Entertainment,"Funimation, Geneon Entertainment USA",Madhouse
3,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...","TV Tokyo, Bandai Visual, Dentsu, Victor Entert...","Funimation, Bandai Entertainment",Sunrise
4,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural","TV Tokyo, Dentsu",Unknown,Toei Animation

In [6]:
x = anime_1["Producers"][3]
x

'TV Tokyo, Bandai Visual, Dentsu, Victor Entertainment'

In [7]:
# Removing spaces between the words
 
def space(obj):
    return obj.replace(' ','')

In [8]:
# For Producers
anime_1["Producers"] = anime_1["Producers"].apply(space)

C:\Users\PRITAM VERMA\AppData\Local\Temp\ipykernel_10396\2035916290.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anime_1["Producers"] = anime_1["Producers"].apply(space)

In [9]:
# For Genres
anime_1["Genres"] = anime_1["Genres"].apply(space)

# For Licensors
anime_1["Licensors"] = anime_1["Licensors"].apply(space)

# For Studios
anime_1["Studios"] = anime_1["Studios"].apply(space)

C:\Users\PRITAM VERMA\AppData\Local\Temp\ipykernel_10396\3232871381.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anime_1["Genres"] = anime_1["Genres"].apply(space)
C:\Users\PRITAM VERMA\AppData\Local\Temp\ipykernel_10396\3232871381.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anime_1["Licensors"] = anime_1["Licensors"].apply(space)
C:\Users\PRITAM VERMA\AppData\Local\Temp\ipykernel_10396\3232871381.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anime_1["Studios"] = anime_1["Studios"].apply(space)

In [10]:
anime_1.head()

,Name,Genres,Producers,Licensors,Studios
0,Cowboy Bebop,"Action,Adventure,Comedy,Drama,Sci-Fi,Space",BandaiVisual,"Funimation,BandaiEntertainment",Sunrise
1,Cowboy Bebop: Tengoku no Tobira,"Action,Drama,Mystery,Sci-Fi,Space","Sunrise,BandaiVisual",SonyPicturesEntertainment,Bones
2,Trigun,"Action,Sci-Fi,Adventure,Comedy,Drama,Shounen",VictorEntertainment,"Funimation,GeneonEntertainmentUSA",Madhouse
3,Witch Hunter Robin,"Action,Mystery,Police,Supernatural,Drama,Magic","TVTokyo,BandaiVisual,Dentsu,VictorEntertainment","Funimation,BandaiEntertainment",Sunrise
4,Bouken Ou Beet,"Adventure,Fantasy,Shounen,Supernatural","TVTokyo,Dentsu",Unknown,ToeiAnimation

In [11]:
anime_1["lable"] = anime_1["Genres"] +","+ anime_1["Producers"] +","+ anime_1["Licensors"] +","+ anime_1["Studios"]

C:\Users\PRITAM VERMA\AppData\Local\Temp\ipykernel_10396\271936430.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anime_1["lable"] = anime_1["Genres"] +","+ anime_1["Producers"] +","+ anime_1["Licensors"] +","+ anime_1["Studios"]

In [12]:
anime_1  = anime_1.drop(["Genres","Producers","Licensors","Studios"],axis=1)
anime_1.head()

,Name,lable
0,Cowboy Bebop,"Action,Adventure,Comedy,Drama,Sci-Fi,Space,Ban..."
1,Cowboy Bebop: Tengoku no Tobira,"Action,Drama,Mystery,Sci-Fi,Space,Sunrise,Band..."
2,Trigun,"Action,Sci-Fi,Adventure,Comedy,Drama,Shounen,V..."
3,Witch Hunter Robin,"Action,Mystery,Police,Supernatural,Drama,Magic..."
4,Bouken Ou Beet,"Adventure,Fantasy,Shounen,Supernatural,TVTokyo..."

In [13]:
# Checking some basic paremeters

In [14]:
anime_1.shape

(17562, 2)

In [15]:
anime_1.isnull().sum()

Name     0
lable    0
dtype: int64

In [16]:
anime_1.duplicated().sum()

1

In [17]:
anime_1.drop_duplicates(inplace= True)

In [18]:
anime_1.duplicated().sum()

0

In [19]:
# The next taxk would be Stemming the Data 
# Before Stemming we need to lower_case the letters in lable and replacing the "," with " ".

anime_1["lable"] = anime_1["lable"].apply(lambda x:x.replace(","," "))
anime_1["lable"] = anime_1["lable"].apply(lambda x:x.lower())

In [20]:
anime_1['lable'][0]

'action adventure comedy drama sci-fi space bandaivisual funimation bandaientertainment sunrise'

In [21]:
y= "Action,Adventure,Comedy,Drama,Sci-Fi,Space".replace(","," ")
y

'Action Adventure Comedy Drama Sci-Fi Space'

In [22]:
# Now applying Stemming.
import nltk
from nltk.stem import PorterStemmer

In [23]:
stemmer = PorterStemmer()

In [24]:
def stemmed(doc):
    spt=[]
    for i in doc.split():
        spt.append(stemmer.stem(i))
    return " ".join(spt)

In [25]:
stemmed('action adventure comedy drama sci-fi space bandaivisual funimation bandaientertainment sunrise')

'action adventur comedi drama sci-fi space bandaivisu funim bandaientertain sunris'

In [26]:
anime_1['lable'] = anime_1['lable'].apply(stemmed)

In [27]:
anime_1

,Name,lable
0,Cowboy Bebop,action adventur comedi drama sci-fi space band...
1,Cowboy Bebop: Tengoku no Tobira,action drama mysteri sci-fi space sunris banda...
2,Trigun,action sci-fi adventur comedi drama shounen vi...
3,Witch Hunter Robin,action mysteri polic supernatur drama magic tv...
4,Bouken Ou Beet,adventur fantasi shounen supernatur tvtokyo de...
...,...,...
17557,Daomu Biji Zhi Qinling Shen Shu,adventur mysteri supernatur unknown unknown un...
17558,Mieruko-chan,comedi horror supernatur kadokawa unknown passion
17559,Higurashi no Naku Koro ni Sotsu,mysteri dementia horror psycholog supernatur t...
17560,Yama no Susume: Next Summit,adventur sliceoflif comedi kadokawa unknown 8bit
17561,Scarlet Nexus,action fantasi bandainamcoart unknown sunris

In [28]:
# converting lables into vectors
from sklearn.feature_extraction.text import TfidfVectorizer

In [29]:
vectors = TfidfVectorizer(max_features=100,stop_words=("english"))

In [30]:
anime_vec = vectors.fit_transform(anime_1["lable"]).toarray()

In [31]:
anime_vec

array([[0.        , 0.20375757, 0.22599248, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.20666652, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.22619563, 0.25087909, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.3642959 , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.42164851, 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [32]:
anime_vec.shape

(17561, 100)

In [33]:
# To get similarity score for lables
from sklearn.metrics.pairwise import cosine_similarity

In [34]:
similar_score = cosine_similarity(anime_vec)

In [35]:
similar_score.shape

(17561, 17561)

In [36]:
# Recomender system (Shows top 10 related anime TV-show/Movies based on their [Genres,producers,studio,etc.)

def recomend(anime):
    anime_index = anime_1[anime_1["Name"] == anime].index[0]
    top_10 = sorted(enumerate(similar_score[anime_index]),key = lambda x:x[1],reverse=True)[1:11]
    
    for index in top_10:
        print(anime_1["Name"][index[0]])